body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

#modal-btn {
    margin: 1em;
    background-color: coral;
    padding: 1em 2em;
    color: white;
    border: 0;
}

#modal-btn:hover {
    background-color: darkgrey;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.3);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 2em;
    width: 75%;
    box-shadow: 0 5px 8px 0 rgb(0, 0, 0, 0.2), 0 10px 16px 0 rgb(0, 0, 0, 0.2);
}

.close-btn {
    color: #ccc;
    float: right;
    font-size: 2em;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}